@page{size:landscape;margin:5mm}body{background-color:#FFF;margin:0}.landscapeView{margin:0;-webkit-transform:rotate(90deg);-moz-transform:rotate(90deg);-o-transform:rotate(90deg);-ms-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform-origin:0 0;-moz-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;position:absolute;top:0;left:100%}.contentBody{overflow:hidden}.landscapeViewIE{left:100%!important}
